.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  
  }
  
  .register-form {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    

  }
  
  .register-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 85%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
 
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .field-has-icon {
    position: relative;
  }
  
  .field-icon {
    position: absolute;
    right: -120px;
    top: 35%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
  }

  .btn-wrap{
    width: 85%;
  }
  
  